 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Handlee&family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700&family=Roboto+Slab&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{  font-family: 'Dancing Script', cursive;
    font-family: 'Handlee', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
header{
    padding: 70px 120px;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul{
    display: flex;
}
ul>li{
    margin-right: 30px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 1rem;
}
.header-icons .h-icon{
    margin-right: 30px;
}
.header-title{
    color: #3A3A3A;
    font-weight: 700;
}
.banner-information{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    padding-top: 5%;
}
.banner-title{
color: #3A3A3A;
font-size: 3.4rem;
font-weight: 700;

}
.banner-description{
color: #3A3A3A;
font-size: 1rem;
font-weight: 600;
width: 505px;
margin: 16px 0px;
line-height: 1.5rem;

}
.btn-primary{
    border-radius: 41px;
    background: #E02C6D; 
    padding: 10px 16px;
    font-size: 1rem;
    color: #FFF;
    font-weight: 700;
    border: 0;
}
.btn-primary i{
    padding-left: 10px;
}
main{
    max-width: 1440px;
    margin: 70px auto;
}
.companies{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.companies img{
    margin-right: 60px;
    width: 97.059px;
    height: 28px;
}
.border{
    width: 80%;
    background-color:gray;
    margin: 0 auto;
}
 
/* start popular collection  */
.popular-header{
    text-align: center;
    color: #3A3A3A;
font-size: 1.6rem;
font-weight: 700;
margin-top: 50px;
margin-bottom: 50px;

}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0px 196px;
    
    
}
.card{
    padding: 14px;
    border: 8px;
}
.collection-header{
    color:  #18191F;
font-family: Poppins;
font-size: 1.6rem;
font-weight: 500;
}
.collection-amount{
    color: rgba(0, 0, 0, 0.87);
font-family: Inter;
font-size: 1.4rem;
font-weight: 400;
margin: 10px 0px;
}
.fa-star,.fa-star-half-stroke{
    color: orange;
    
}
.collection-ratings{
    display: inline-block;
    color: #5E6366;
font-family: Roboto;
font-size: 0.9rem;
font-style: normal;
font-weight: 700;
}
.collection-description{
    color:  #787885;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.252px;
    margin-top: 4px;
}
.more{
    text-align: end;
    margin-right: 221px;
    margin-top: 50px;
    color: rgba(224, 44, 109, 0.87);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    }





/* 
@media  and (min-width:300px) and (max-width:573px) {
    ul li{
        margin-right: 0px;
        padding:120px;
    }
    ul li a{
        font-size: 12px;
        
    }
} */


@media screen and (max-width:574px){
    nav
    {
        flex-direction: column;
        
    }
    ul li{
        margin-right: 8px;
    }
    ul li a{
        font-size: 10px;

    }
    div i{
        font-size: 08px;
    }
    header {
        padding: 20px;
      }
    
    .header-title,
    .banner-title,
    .banner-description{
        text-align: center;
    }
    .banner-information{
        /* flex-wrap:wrap; */
        flex-direction: column-reverse;
        gap: 10px;
    }
    .collection-description{
        width: 200px;
        /* font-size: 5px; */
        /* width: 50%; */


    }
    .card{
        margin: 0 auto;
    }
    .main-camera{
        width: 50%;
    }
    .banner-title{
        font-size: 1.6rem;
    }
    .banner-description{
        font-size: 0.8rem;
        max-width: 250px;
        margin: 10 auto;
    }
    .btn-primary{
        padding: 5px;
        margin-left: 50px;
    }
   
    .companies img{
        height: 15px;
        width: 50px;
        padding: 10px 10px;

    }

    .cards{
        display: flex;
        flex-direction: column;
        margin:0px auto;
    }
    .popular-header {{
        padding: 0px 0px;
    }
}